<div class="row" ng-controller="ConfirmCtrl as ctrl">
	<div>{{ctrl.isrr.tipoInvolucro.id}}</div>
	<div>{{ctrl.isrr.tampaInvolucro.id}}</div>
	<div>{{ctrl.isrr.componente1.tipoComponente.id}}</div>
	<div>{{ctrl.isrr.componente1.contatosComponente.id}}</div>
	<div>{{ctrl.isrr.componente1.tensaoResistencia.id}}</div>
	<div>{{ctrl.isrr.componente1.cor.id}}</div>

	<div>{{ctrl.isrr.componente2.tipoComponente.id}}</div>
	<div>{{ctrl.isrr.componente2.contatosComponente.id}}</div>
	<div>{{ctrl.isrr.componente2.tensaoResistencia.id}}</div>
	<div>{{ctrl.isrr.componente2.cor.id}}</div>

	<div ng-show="ctrl.isrr.especial">OO</div>
</div>